<!-- users/templates/users/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-right">
            <a href="{% url 'home' %}">Back to Home</a>
        </div>
    </nav>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-content">
                {{ form.as_p }}
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
